# Auto detect text files and perform LF normalization
* text=auto

# Make git recognise .rst as actual code files
# It forces GitHub to count the doc files on the languages stat
*.rst linguist-detectable=true
